# Default ignored files
/workspace.xml
.idea
*.idea
*.iml
*.pyc
*.rar
*.zip
*.log
*.jsonl
.Rproj.user
*.txt
!/src/resource/dataset/
.RData
.httr-oauth
.Rhistory
R.Rproj

!/.twarc
!/resource/access/twitter_access.json
